<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="width:480px;margin:auto;border:solid #eee 2px;padding:10px;">
      Hi <%= @user.name %>
      <h3>Welcome to courseshub.in</h3>
      <p>
        You have successfully signed up for courseshub.in,<br/>
        your login name is: <%= @user.email %>.<br/>
      </p>
      <p>
        To login to the site, just follow this link: <%= @url %>.
      </p>
      <p>Thanks for joining and have a great day!</p>
    </div>
  </body>
</html>