<p id="notice"><%= notice %></p>

<p>
  <b>References:</b>
  <%= @topic_reference.references %>
</p>


<%= link_to 'Edit', edit_topic_reference_path(@topic_reference) %> |
<%= link_to 'Back', topic_references_path %>
