<h1>Listing topic_documents</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topic_documents.each do |topic_document| %>
  <tr>
    <td><%= link_to 'Show', topic_document %></td>
    <td><%= link_to 'Edit', edit_topic_document_path(topic_document) %></td>
    <td><%= link_to 'Destroy', topic_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic document', new_topic_document_path %>
