<%= content_for :page_title, 'Courses - Help' %>

<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'layouts/faculty_menu'%>
	</div> 
	<div class="col-md-9" role="main">
		<div class="col-md-12">
			<h3>Cycle Test Filters</h3>
			<hr/>
      <p>Cycle test filters can be used to filter based on which cycletest they were assigned to.</p>

      <p>Usually a topic can be a part of sylabus for different cycletests. For example a topic marked
      "CT1" it will be taught before Cycle Test One, similarly if a topic is marked PostCT then it 
      will be taught after Cycle Test Two. </p>

      <p>Selecting a Cycle test will filter Sub topics based on their Cycle test status. 
      Multiple Cycle tests can be chosen to get cumulate the result of each filter.<p>
		</div>
	</div> 
</div> 
