<%= content_for :page_title, 'Courses - Help' %>

<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'layouts/faculty_menu'%>
	</div> 
	<div class="col-md-9" role="main">
		<div class="col-md-12">
			<h3>Editing Faculty Profile Page</h3>
			<hr/>
      <p>Faculties can edit your profile page by clicking the Edit button on the top right corner of your profile page</p>
      <p>Profile page can be reached by clicking "My profile" link from the top right corner drop down menu of by clicking this <a href="/profile/me">link</a></p>

      Fields that can be edited are:
      <ul>
        <li>Prefix</li>
        <li>Name</li>
        <li>Phone Number</li>
        <li>Designation</li>
        <li>About</li>
      </ul>

      The courses handling/handled fields are auto generated.
		</div>
	</div> 
</div> 
