<%= content_for :page_title, 'Courses - Help' %>

<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'layouts/faculty_menu'%>
	</div> 
	<div class="col-md-9" role="main">
		<div class="col-md-12">
			<h3>Editing Faculty Profile Page</h3>
			<hr/>
		</div>
	</div> 
</div> 
