<%= content_for :page_title, 'Courses - Help' %>

<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'layouts/faculty_menu'%>
	</div> 
	<div class="col-md-9" role="main">
		<div class="col-md-12">
			<h3>View a List of Student's Attending a Course</h3>
			<hr/>
      <p>Faculties can view a list of students attending a course by clicking the green button just left to the course name on a course page.</p>
      <p>It will bring up a overlay listing all the students who are attending the course with a link to their profile page.</p>
		</div>
	</div> 
</div> 
