<%= content_for :page_title, 'Courses - Help' %>

<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'layouts/faculty_menu'%>
	</div> 
	<div class="col-md-9" role="main">
		<div class="col-md-12">
			<h3>Profile Page</h3>
			<hr/>
      Profile page for faculties lists the following details.
      <ul>
        <li>Name</li>
        <li>Department</li>
        <li>Email address</li>
        <li>Designation</li>
        <li>A Brief Biography</li>
        <li>Courses that they are handling currently</li>
        <li>Courses that they have handled previously</li>
      </ul>

      <p>Profile page can be reached by clicking "My profile" link from the top right corner drop down menu of by clicking this <a href="/profile/me">link</a></p>
      
      <strong>Related Posts:</strong>
      <ul>
        <li><a href="<%= page_path('help/faculty/editing-profile-page')%>">Editing Profile Page</a></li>
      </ul>
		</div>
	</div> 
</div> 
