<%= content_for :page_title, 'Courses - Help' %>

<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'layouts/faculty_menu'%>
	</div> 
	<div class="col-md-9" role="main">
		<div class="col-md-12">
			<h3>Referencing Notes and Books In Subtopics</h3>
			<hr/>
      Reference Notes and books can be mentioned in subtopics.

      To mention a Uploaded document in a subtopic:
      <ul>
        <li>Click edit</li>
        <li>Select your corresponding document in the Related Notes section</li>
        <li>Multiple documents can also be referenced in the select menu</li>
      </ul>
      
      <br/>
      Books added as Refecnce Books to a course can also be mentioned in a subtopic
      <ul>
        <li>Click the edit button</li>
        <li>On the table at the bottom of the edit dialog mention the corresponding Page number/Index</li>
        <li>To remove a reference leave the field blank.</li>
      </ul>
		</div>
	</div> 
</div> 
