<%= content_for :page_title, 'Courses - Help' %>

<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'layouts/faculty_menu'%>
	</div> 
	<div class="col-md-9" role="main">
		<div class="col-md-12">
			<h3>Search in Topics</h3>
			<hr/>
      <p>Users can search for Topics, Subtopics, Keywords in the course by using the search bar on the topics tab.</p>

      <p>The search bar works on the result of the Cycle Test filter and finds the search text in it.</p>

      <strong>Related Post:</strong>
      <ul>
        <li><a href="<%= page_path('help/faculty/cycle-test-filters')%>">Cycle Test Filters</a></li>
      </ul>
		</div>
	</div> 
</div> 
