<%= content_for :page_title, 'Courses - Help' %>

<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'layouts/faculty_menu'%>
	</div> 
	<div class="col-md-9" role="main">
		<div class="col-md-12">
			<h3>Sign Up</h3>
			<hr/>
      Faculties can sign up by following these steps
      <ul>
        <li>Click the sign in button on the top right corner of the webpage. You will be taken to a login page</li>
        <li>On the login page enter your webmail username and your webmail password</li>
        <li>On the next page Click the Start Button</li>
        <li>Enter your Full name, select your department and click next.</li>
        <li>On the next slide, the courses that you will be handling will be shown, click next</li>
        <li>On the final slide, re-enter your webmail password and click Register.</li>
      </ul>
      A welcome mail will be dispatched if your registration is successful and your can start using the website.
		</div>
	</div> 
</div> 
