<%= content_for :page_title, 'Courses - Help' %>

<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'layouts/faculty_menu'%>
	</div> 
	<div class="col-md-9" role="main">
		<div class="col-md-12">
			<h3>Uploading Notes</h3>
			<hr/>
      <p>Faculties can upload documents to a course.</p>
      <p>To Upload notes to a course follow these steps:</p>
      <ul>
        <li>Go to the corresponding course page.</li>
        <li>Go to the Reference Materials Tab</li>
        <li>Go to the Notes Tab</li>
        <li>Click the Upload Notes button and select the file that you want to upload.</li>
      </ul>
      The document will be uploaded only if the file size is less than 30MB.
		</div>
	</div> 
</div> 
