<%= content_for :page_title, 'Courses - About Us' %>
<style>
<!--
	p {
		text-indent: 40px;
	}
-->
</style>

<div class="well">
	<strong>Hi everyone</strong>,
	<p>I'm Vignesh (Final year ECE), one of the contributors of  'course'. This is the story of the app, it all began during the NASA 2013 hackathon. We had a request from the director for a student-faculty interaction app. Shiva Nandan (aka seek), my delta senior disucussed with me about the app during our journey. He had already developed a prototype with very basic feature, the app with its partially finished features was already impressive, it looked if he had already completed the app, he wanted someone to work on the app the rest of the app and complete it. Usually when a project is proposed in delta, members volutier to the project. The problem with this app was that he built the prototype with the then  new technologies which no one in the club has worked on so we were reluctant to take up the task. I was jobless after pragyan so I voluntired and promised to complete it during summer vacations. </p>
	<p>Finally due to the tough competion that I faced while getting a summer intern and the fact that I come from a non compsci branch  made me fear that spending time on the app would affect my career. Sadly I dropped out of the app and did my intern and the development process remained idle for about 6 months. </p>
	<p>I resumed my work in late October,2013. I was refactoring code and redesigned the database schema and was passively contributing, but I was keen on pursuading some of my batch mates and juniors to work on the app. The development work gained friction just before my semester exam, I'm still not sure if my lack of interest in ECE or the fun in building something caused it. After spending my entire winter holdidays on the app, here it is.</p>

	<strong>Meet the developers</strong>
	<br/>
	<div class="row">
		<div class="col-md-6 clearfix">
			<img src="<%= asset_path 'seek.jpg' %>" class="img-circle pull-left" style="border:#fff 5px solid;"/>
			<div><br/><br/><br/>Shiva Nandan (aka seek) CSE 2013 passout, works at Electronic Arts Hydrebad, Interned at Interview Street and  Zynga.</div>
		</div>

		<div class="col-md-6 clearfix">
			<img src="<%= asset_path 'vignesh.jpg' %>" class="img-circle pull-left" style="border:#fff 5px solid;"/>
			<div><br/><br/><br/>Vignesh ECE 2014, Placed at Amazon, Interned at Directi and in an e-commerse startup.</div>
		</div>
	</div>
	<br/>
	<strong>To Students:</strong>
	<p>The app was completed hastily and I had no time to test it across all screen sizes. Please let me know if  you feel that something is not working properly or if there is some design issue. The app is supposed to work with out any page reloads except for the login page. If you spot any think wrong please let me know, don't hesitate to contact me, it can even be very simple like as box not having a rounded corner. </p>

	<strong>To Faculties:</strong>
	<p>I know that it is a burden on you and you definetly have to put in extra effort to record all the class activities but on the brighter side you have to do it only once and the records will be maintained for years. Still after 10 years you will be able see what you have thought and what the questions were like. This would be helpful during accrediation process, no need to hustle up to find the 3 year old question paper.</p>

	<strong>To Critics:</strong>
	<p>Some people say that you guys are good for nothing and you can only talk and never do something abt it,  but I'm a little open minded. I think you guys play an important role in the evolution of the app and help us maintain high standards. I'm open critism, please mail me if you have anything or if you choose to be anonymous put it up on NITT Confessions.</p>

	<strong>To Developers:</strong>
	<p>The app is still short on man power. Any opensource contribution is deeply appriciated. Source code is available on github, if you are interested in learning about the app or contributing to it, please contact me. </p>

	<strong>To Hackers/Crackers:</strong>
	<p>I think the app has all precautionary measure to shield it from any kind of attack. As far as I know the app has protection against CSRF, XSS, SQL Injection, etc. Sonicwall must prevent DDOS. You mighthave guessed from the source but still, backbone and bootstrap on the front end, rails 3.2 on the back end deployed using unicorn server with 3 simultaneos process workers, usual rails app memory footprint, MySQL database and paperclip gem for image processing . All the best!</p>
</div>
