<%= content_for :page_title, 'Courses - Contact Us' %>
<h3>Contact CoursesHub</h3>
<span class="text-muted">We’re here to help with any questions or comments. If you just want to say hi, that's cool too. </span>
<hr/>
<div class="row">
	<div class="col-md-8 clearfix">
		<div class="well">
			Feel free to email us at <a href="mailto:support@courseshub.in">support@courseshub.in</a>
		</div>
		<strong>Contact the Developers:</strong>
		<div class="col-md-12 clearfix">
			<img src="<%= asset_path 'seek.jpg' %>" class="img-circle pull-left" style="border:#fff 5px solid;"/>
			<div>
				<br/><br/><br/>
				&nbsp; &nbsp; &nbsp; Shiva Nandan<br/>
				&nbsp; &nbsp; &nbsp; <a href="mailto:i.am@seekshiva.in">i.am@seekshiva.in</a>
			</div>
		</div>
		<div class="col-md-12 clearfix">
			<img src="<%= asset_path 'vignesh.jpg' %>" class="img-circle pull-left" style="border:#fff 5px solid;"/>
			<div>
				<br/><br/><br/>
				&nbsp; &nbsp; &nbsp; Vignesh P<br/>
				&nbsp; &nbsp; &nbsp; <a href="mailto:me@vignesh.info">me@vignesh.info</a>
			</div>
		</div>
	</div>

	<div class="col-md-4 clearfix">
		<strong>What's in a great support request?</strong>
		<ul>
			<li>Be succinct, we'll ask if we need more info</li>
			<li>The course name or the link to page that you’re having trouble with</li>
		</ul>
	</div>
</div>
