<h1>Listing departments</h1>

<table id="departments-table">
  <tr>
    <th>Name</th>
    <th>Hod</th>
    <th>Short</th>
    <th>Courses</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Department</a>