/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */

html, body {
    height: 100%;
}

.greener:hover {
    color: #47a447;
}

#wrap {
    height: auto !important;
    /* Negative indent footer by it's height */
}


.s-push {
    height: 20px;
}
.push, #footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.container .credit {
    margin: 20px 0;
}

.long-input {
    width: 600px;
}

#specialized_view_selector.nav-tabs {
    margin-bottom: 0;
}
#specialized_view_selector > li > a {
    color: #666666;
    font-size: 14px;
}

#specialized_view_selector .active a {
    color: #333333;
    font-weight: bold;
}

#specialized_view {
    margin-left: 15px;
    margin-right: -18px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.table.bottom_line > tbody > tr > th,
.table.bottom_line > tbody > tr > td {
    border-bottom: 1px solid #dddddd;
    border-top: 0;
}

.table.bottom_line > tbody > tr:last-child > th,
.table.bottom_line > tbody > tr:last-child > td {
    border-bottom: 0;
    border-top: 0;
}

#content {
    margin-top: 20px;
    margin-bottom: 20px;
}


.nav-tabs > li > .nav_container {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > .nav_container,
.nav-pills > li > .nav_container {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.tab-content {
    padding-top: 12px;
    padding-left: 19px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

._topic_list > table,
._reference_list > table {
    margin-left: -10px;
}

._topic_list > table > tbody > tr > td {
    padding-left: 5px;
}

#topic_filter {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    padding-top: 5px; 
    padding-bottom: 15px; 
    margin-right: -18px;
    margin-left: -20px;
}

.edit_mode .hide-on-edit {
    display: none;
}

.row {
    margin-right: 17px;
}

.col-md-3 {
    padding-right: 0;
}
